.done {
  text-decoration: line-through;
}
.styleNone {
  list-style-type: none;
}

.flex {
  display: flex;
}
.column {
  flex-direction: column;
  align-items: center;
}

.align {
  align-items: center;
}

.grow {
  width: 100%;
}

.justify {
  justify-content: space-evenly;
}

.flexList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
}

.adjust {
  display: flex;
  justify-content: space-between;
  width: 10rem;
}

.showMe {
  color: red;
  background-color: blue;
}
